*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
@media only screen and (max-width:700px){

#sosmed{
    width:100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

a{
    width:100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

#row{
    width:100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

#about-col{
    flex-direction: row;
}

#about-col1{
    flex-direction: row;
}

#about-col2{
    flex-direction: row;
}

#k-dra{
    width:100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

#card1{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
#card2{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
#art{
    width:100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
#gambar-art1{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

#gb-art1{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
#gambar-art2{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

#gb-art2{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
#gambar-art3{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

#gb-art3{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
#gambar-art4{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

#gb-art4{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
#art-1{
    width:100%;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
#gambar-art5{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

#gb-art5{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
#gambar-art6{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

#gb-art6{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
#gambar-art7{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

#gb-art7{
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}
}


